<h1>Detalhes da Anamnese</h1>
<div class="details-container">
  <p><strong>ID do Paciente:</strong> {{ data?.patient?.id }}</p>
  <div class="line"></div>

  <p><strong>Nome do Paciente:</strong> {{ data?.patient?.name }}</p>
  <div class="line"></div>

  <p><strong>Data da Anamnese:</strong> {{ data?.anamnesisDate | date: 'dd/MM/yyyy' }}</p>
  <div class="line"></div>

  <p><strong>Queixa Principal:</strong> {{ data?.mainComplaints }}</p>
  <div class="line"></div>

  <p><strong>Histórico Médico:</strong> {{ data?.medicalHistory || 'N/A' }}</p>
  <div class="line"></div>

  <p><strong>Observações:</strong> {{ data?.observations || 'N/A' }}</p>
  <div class="line"></div>

  <p><strong>Peso:</strong> {{ data?.weight }} kg</p>
  <div class="line"></div>

  <p><strong>Altura:</strong> {{ data?.height }} cm</p>
  <div class="line"></div>

  <p><strong>Circunferência da Cintura:</strong> {{ data?.waistCircumference }} cm</p>
  <div class="line"></div>

  <p><strong>Circunferência do Quadril:</strong> {{ data?.hipCircumference }} cm</p>
  <div class="line"></div>

  <p><strong>% de Gordura Corporal:</strong> {{ data?.bodyFatPercentage }}%</p>
  <div class="line"></div>

  <p><strong>Massa Muscular:</strong> {{ data?.muscleMass }} kg</p>
  <div class="line"></div>

  <p><strong>IMC:</strong> {{ data?.bodyMassIndex }}</p>
  <div class="line"></div>

  <p><strong>Relação Cintura/Quadril:</strong> {{ data?.waistHipRatio }}</p>
</div>

<button mat-button mat-dialog-close>Fechar</button>
